$primary-c: #ee4d2d; // c ~ color

.flex {
    display: flex !important;
}

.t-center {
    text-align: center;
}

.t-white {
    color: white !important;
}

.t-blur {
    color: rgba(39, 38, 38, 0.5);
}

.t-black {
    color: black !important;
}

.mr-auto {
    margin-right: auto;
}

.mg-auto {
    margin: 0 auto;
}

.t {
    &-blue {
        color: #05a;;
    }
    &-primary {
        color: $primary-c !important;
    }
}

.t-bold {
    font-weight: bold;
}
.t-continue {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.t-right {
    text-align: right;
}

.t-underline {
    text-decoration: underline !important;
}

.bg {
    &-primary {
        background-color: $primary-c !important;
    }
    &-white {
        background-color: white;
    }
    &-blue {
        background-color: #05a;
    }
}

.pd-20 {
    padding: 20px !important;
}
.d-block {
    display: block;
}
.d-inline-bl {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

// tạo ra dấu kẻ ngang
.seperator {
    border-right: 1px solid white !important;
}

// btn class 

.btn{
    padding: 6px 12px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--viewall {
    margin: 8px 8px;
    font-size: 1.6rem;
}

.btn--add-to-cart {
    border: 1px solid $primary-c;
    background: rgba(255,87,34,.1);               
} 

//btn-return 

.btn--return {
    display: block;
    border-radius: 3px;
    padding: 16px;
    transition: transform 0.2s ease;
    width: 250px;
    font-size: 1.8rem;
}
.btn--return:hover {
    transform: translateX(-3px);
}

.btn--return:active {
    transform: translate(-3px, 3px);
}

// no margin class 
.no-mg {
    margin: 0 !important;
}

.no-mg-bottom {
    margin-bottom: 0px !important;
}

.no-mg-top {
    margin-top: 0px !important;
}

.no-mg-right {
    margin-right: 0px !important;
}

.no-mg-left {
    margin-left: 0px !important;
}

.no-bd-right {
    border-right: none;
}

.no-bd-left {
    border-left: none;
}

.no-bd {
    border: none !important;
}

.items-center {
    -webkit-box-align: center; 
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.other__heading {
    margin-bottom: 10px;
    &-logo {
        width: 180px;
        height: 50px;
        margin: 10px 20px;
    } 
    &-title {
        font-size: 2.2rem;
        border-left: 1.5px solid #ee4d2d;
        padding: 10px;
        padding-left: 20px;
    }
}

.hide {
    display: none;
    visibility: hidden;
}