$primary-c: #ee4d2d; // c ~ color


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}

html {
    font-size: 62.5%;
    color: black;
}

a,
a:visited,
a:link {
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding-top: 0px;
}

.flex {
    display: flex !important;
}

.flex--sp {
    display: flex;
    justify-content: space-between;
}

//class màu chữ
.t-center {
    text-align: center;
}

.t-white {
    color: white !important;
}

.t-blur {
    color: rgba(39, 38, 38, 0.5);
}

.t-black {
    color: black !important;
}

.mr-auto {
    margin-right: auto;
}

.mg-auto {
    margin: 0 auto;
}

.t {
    &-blue {
        color: #05a;;
    }
    &-primary {
        color: $primary-c !important;
    }
}

.t-bold {
    font-weight: bold;
}
.t-continue {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.t-right {
    text-align: right;
}

.t-underline {
    text-decoration: underline !important;
}

.bg {
    &-primary {
        background-color: $primary-c !important;
    }
    &-white {
        background-color: white;
    }
    &-blue {
        background-color: #05a;
    }
}

.pd-20 {
    padding: 20px !important;
}
.d-block {
    display: block;
}
.d-inline-bl {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

// tạo ra dấu kẻ ngang
.seperator {
    border-right: 1px solid white !important;
}

// btn class 

.btn{
    padding: 6px 12px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--viewall {
    margin: 8px 8px;
    font-size: 1.6rem;
}

.btn--add-to-cart {
    border: 1px solid $primary-c;
    background: rgba(255,87,34,.1);               
} 

//btn-return 

.btn--return {
    display: block;
    border-radius: 3px;
    padding: 16px;
    transition: transform 0.2s ease;
    width: 250px;
    font-size: 1.8rem;
}
.btn--return:hover {
    transform: translateX(-3px);
}

.btn--return:active {
    transform: translate(-3px, 3px);
}

// no margin class 
.no-mg {
    margin: 0 !important;
}

.no-mg-bottom {
    margin-bottom: 0px !important;
}

.no-mg-top {
    margin-top: 0px !important;
}

.no-mg-right {
    margin-right: 0px !important;
}

.no-mg-left {
    margin-left: 0px !important;
}

.no-bd-right {
    border-right: none;
}

.no-bd-left {
    border-left: none;
}

.no-bd {
    border: none !important;
}

.visible {
    visibility: visible !important;
}

.number--border {
    border: 1px solid #e6491a !important;
}

.section--heading {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    padding-left: 15px;
}

//promotion label
.items__promotion-label {
    $bg-color: rgba(255,212,36,.9);
    width: 54px;
    height: 50px;
    background-color: $bg-color;
    position: absolute;
    top: -1px;
    right: 8px;
    font-size: 1.7rem;
    p {
        margin-top: 6px;
    }
    text-align: center;
}
.items__promotion-label::before {
    position: absolute;
    bottom: -5px;
    right: 0px;
    content: "";
    height: 0;
    width: 0;
    border-width: 0 27px 6px;
    border-style: solid;
    border-color: transparent rgba(255,212,36,.9);
}
//favorite label

.items__favorite-label {
    background-color: $primary-c;
    position: absolute;
    $line-h: 18px;
    width: 60px;
    height: $line-h;
    line-height: $line-h;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    top: 10px;
    left: -4px
}

.items__favorite-label::before {
    $hw: 3px;
    border-color: $primary-c blue black transparent;
    filter: brightness(60%);
    border-width: $hw 0 0 $hw;
    border-style: solid;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
}

.items-center {
    -webkit-box-align: center; 
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body {
    background-color: #f7f2f2;
}

// btn tang sl san pham

.prd__quantity {
    .btn__math {
        $ch: 30px;
        height: $ch;
        border: 1px solid rgba(0,0,0,.2);
        line-height: $ch;
        padding: 0 6px;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 300;
    }
    .choose-number {
        $ch: 30px;
        font-size: 1.6rem;
        width: 50px;
        height: $ch;
        border: 1px solid rgba(0,0,0,.2);
        border-width: 1px 0;
        outline: none;  
    }   
}

.other__heading {
    margin-bottom: 10px;
    &-logo {
        width: 180px;
        height: 50px;
        margin: 10px 20px;
    } 
    &-title {
        font-size: 2.2rem;
        border-left: 1.5px solid #ee4d2d;
        padding: 10px;
        padding-left: 20px;
    }
}

.hide {
    display: none;
    visibility: hidden;
}


