* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

a,
a:visited,
a:link {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-top: 0px;
}

