$primary-c: #ee4d2d; // c ~ color


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}

html {
    font-size: 62.5%;
    color: black;
}

a,
a:visited,
a:link {
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding-top: 0px;
}

.flex {
    display: flex !important;
}

.flex--sp {
    display: flex;
    justify-content: space-between;
}

//class màu chữ
.t-white {
    color: white !important;
}

.t-black {
    color: black !important;
}


.t-primary {
    color: $primary-c;
}
.t-bold {
    font-weight: bold;
}

.bg-primary {
    background-color: $primary-c;
}

.bold {
    font-weight: bold;
}

// tạo ra dấu kẻ ngang
.seperator {
    border-right: 1px solid white !important;
}

// btn class 

.btn{
    padding: 6px 12px;
}

.btn--viewall {
    margin: 8px 8px;
    font-size: 1.6rem;
}

// no margin class 
.no-mg-bottom {
    margin-bottom: 0px !important;
}

.no-mg-top {
    margin-top: 0px !important;
}

.no-mg-right {
    margin-right: 0px !important;
}

.no-mg-left {
    margin-left: 0px !important;
}

.visible {
    visibility: visible !important;
}

.number--border {
    border: 1px solid #e6491a !important;
}

.section--heading {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
}