.cart-infor {
  border-radius: 3px;
  font-size: 2.5rem;
  padding: 20px;
  width: 400px;
  margin-bottom: 15px; }
.cart-swapper {
  padding: 20px;
  margin-bottom: 10px; }
.cart-action .continue-buy {
  background-color: #05a; }
.cart-action .payment {
  margin-right: 20px; }
.cart-action .cart__btn {
  padding: 10px 20px;
  border-radius: 3px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: white;
  transition: transform 0.4s ease; }
.cart-action .payment:hover {
  transform: translateX(2px); }
.cart-action .continue-buy:hover {
  transform: translateX(-2px); }
.cart-action .payment:active {
  transform: translate(2px, 2px); }
.cart-action .continue-buy:active {
  transform: translate(-2px, 2px); }
.cart-prd-list-items {
  padding: 14px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0 1px 0; }
  .cart-prd-list-items .left {
    margin-left: 5px;
    width: 76%; }
  .cart-prd-list-items .right {
    font-size: 1.6rem; }
  .cart-prd-list-items .prd {
    font-size: 1.6rem; }
    .cart-prd-list-items .prd__img {
      width: 70px;
      margin: 0 10px; }
    .cart-prd-list-items .prd__quantity {
      margin: 0 15px; }
.cart-money {
  font-size: 1.8rem;
  padding: 20px; }
  .cart-money .check-all {
    width: 76%; }
  .cart-money .check-all .checker-all {
    margin: 0 5px; }

.no-cart {
  font-size: 2rem; }
  .no-cart .no-cart-img {
    height: 650px;
    background-position: center; }
  .no-cart p {
    margin-bottom: 30px; }

.checkout .order-border {
  height: 3px;
  width: 100%;
  margin-top: 10px;
  background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px); }
.checkout .order-infor {
  padding: 20px;
  font-size: 1.6rem;
  margin-bottom: 10px; }
  .checkout .order-infor__place {
    font-size: 1.8rem;
    margin-bottom: 10px; }
  .checkout .order-infor__name {
    width: 30%; }
  .checkout .order-infor__addr {
    width: 55%; }
  .checkout .order-infor__change {
    width: 15%; }
.checkout .order-prd {
  margin-bottom: 10px; }
  .checkout .order-prd .cart-prd-list {
    font-size: 1.6rem; }
    .checkout .order-prd .cart-prd-list-items {
      padding: 20px;
      width: 100%; }
      .checkout .order-prd .cart-prd-list-items .left {
        width: 55%;
        margin: 0 !important; }
      .checkout .order-prd .cart-prd-list-items .prd__price,
      .checkout .order-prd .cart-prd-list-items .prd__quantity,
      .checkout .order-prd .cart-prd-list-items .prd__total {
        width: 15%; }
      .checkout .order-prd .cart-prd-list-items .t-continue {
        -webkit-line-clamp: 1; }
    .checkout .order-prd .cart-prd-list .prd__total-money {
      padding: 20px;
      display: flex;
      flex-direction: row-reverse; }
  .checkout .order-prd__title {
    padding: 20px;
    padding-bottom: 10px; }
    .checkout .order-prd__title p {
      width: 15%;
      font-size: 1.5rem; }
    .checkout .order-prd__title p:first-child {
      width: 55%;
      font-size: 1.8rem; }
.checkout .order-payment-method {
  padding: 20px; }
  .checkout .order-payment-method .method__heading {
    width: 30%;
    font-size: 1.8rem; }
  .checkout .order-payment-method .method__list {
    flex-wrap: wrap; }
    .checkout .order-payment-method .method__list-items {
      padding: 10px;
      font-size: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-right: 20px;
      cursor: pointer;
      margin-bottom: 5px; }
.checkout .order-finish {
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .checkout .order-finish .btn--finish {
    width: 150px;
    font-size: 1.8rem;
    border-radius: 2px; }
  .checkout .order-finish .btn--finish:hover {
    transition: all 0.3s ease;
    transform: scale(1.1); }

.success {
  padding: 50px 20px;
  margin: 10px 0; }
  .success__icon {
    height: 200px;
    width: 100%;
    margin-bottom: 10px; }
  .success__message {
    font-size: 1.8rem;
    margin: 70px 0; }

/*# sourceMappingURL=cart.css.map */
