.cart {
    &-infor {
        border-radius: 3px;
        font-size: 2.5rem;
        padding: 20px;
        width: 400px;
        margin-bottom: 15px;
    }
    &-swapper {
        padding: 20px;
        margin-bottom: 10px;
    }

    &-action {
        .continue-buy {
            background-color: #05a;
        }
        .payment {
            margin-right: 20px;
        }

        .cart__btn {
            padding: 10px 20px;
            border-radius: 3px;
            margin-left: 20px;
            margin-bottom: 10px;
            font-size: 1.4rem;
            color: white; 
            transition: transform 0.4s ease;
        }

        .payment:hover {
            transform: translateX(2px);
        }

        .continue-buy:hover {
            transform: translateX(-2px);
        }

        .payment:active {
            transform: translate(2px, 2px);
        }

        .continue-buy:active {
            transform: translate(-2px, 2px);
        }
    }

    
    &-prd-list {
        &-items {
            padding: 14px 0; 
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-width: 1px 0 1px 0;   
            .left {
                margin-left: 5px;
                width: 76%;
            }
            .right {
                font-size: 1.6rem;
            }

            .prd {
                font-size: 1.6rem;
                &__img {
                    width: 70px;
                    margin: 0 10px;
                }
                &__quantity {
                    margin: 0 15px;
                }
            }
        }
    }

    &-money {
        font-size: 1.8rem;
        padding: 20px;
        .check-all {
            width: 76%;
        }

        .check-all {
            .checker-all {
                margin: 0 5px;
            }
        }
    }
}

.no-cart {
    .no-cart-img {
        height: 650px;
        background-position: center;
    }
    font-size: 2rem;
    p {
        margin-bottom: 30px;
    }
   
}

.checkout {
    .order-border {
    height: 3px;
    width: 100%;
    margin-top: 10px;
    background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
    }
    .order-infor {
        padding: 20px;
        font-size: 1.6rem;
        margin-bottom: 10px;
        &__place {
            font-size: 1.8rem;
            margin-bottom: 10px;
        }
        &__name {
            width: 30%;
        }
        &__addr {
            width: 55%;
        }
        &__change {
            width: 15%;
        }

    }

    .order-prd {
        margin-bottom: 10px;
        .cart-prd-list {
            font-size: 1.6rem;
            &-items {
                padding: 20px;
                width: 100%;
                .left {
                    width: 55%;
                    margin: 0 !important;
                }

                .prd__price,
                .prd__quantity,
                .prd__total {
                    width: 15%;
                }
                
                .t-continue {
                    -webkit-line-clamp: 1;
                }
            }
            .prd__total-money {
                padding: 20px;
                display: flex;
                flex-direction: row-reverse;
            }
        }

        &__title {
            padding: 20px;
            padding-bottom: 10px;
            p {
                width: 15%;
                font-size: 1.5rem;
              
            }
            p:first-child {
                width: 55%;
                font-size: 1.8rem;
            }
        }

        
    }

    .order-payment-method {
        padding: 20px;
        .method__heading {
            width: 30%;
            font-size: 1.8rem;
        }
        .method__list {
            flex-wrap: wrap;
            &-items {
                padding: 10px;
                font-size: 1.5rem;
                border: 1px solid rgba(0, 0, 0, 0.1);
                margin-right: 20px;
                cursor: pointer;
                margin-bottom: 5px;
            }
        }
    }

    .order-finish {
        padding: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .btn--finish {
            width: 150px;
            font-size: 1.8rem;
            border-radius: 2px;
        }
        .btn--finish:hover {
            transition: all 0.3s ease;
            transform: scale(1.1);
        }
    }
}
.success{
    padding: 50px 20px;
    margin: 10px 0;
    &__icon {
        height: 200px;
        width: 100%;
        margin-bottom: 10px;
    }
    &__message {
        font-size: 1.8rem;
        margin: 70px 0;
    }
}