.category {
    &__header {
        font-size: 1.6rem;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    &-list {
        height: 100%;
        display: block;
    }

    &-list-items {
        width: 120px;
        display: block;
        .items__link {
            display: block;
            height: 130px;
            border: 1px solid rgba(0, 0, 0, 0.03);
            border-left: none;
            background-color: rgba(240, 240, 240, 0.2);
        }
        // .items__link:not(:first-child) {
        //     border-left: none;
        // }
        .items__link:hover {
            background-color: white;
            box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.15);
        }

        .items__img {
            padding-top: 5px;;
            margin-bottom: 10px;;
            width: 100%;
            height: 70px;
            background-position: center;
        }
        .items__text {
            text-align: center;
            font-size: 1.3rem;
        }

        .items__link-bottom {
            border-top: none;
            .items__img {
                margin-top: 0px;
            }
        }
    }
}