$primary-c: #ee4d2d;
.category {
    &__header {
      
    }

    &-list {
        display: block;
        width: 100%;
    }

    &-list-items {
        width: 120px;
        display: inline-block;
        .items__link {
            display: inline-block;
            width: 100%;
            height: 130px;
            border: 1px solid rgba(0, 0, 0, 0.03);
            border-left: none;
            background-color: rgba(240, 240, 240, 0.2);
        }
        // .items__link:not(:first-child) {
        //     border-left: none;
        // }
        .items__link:hover {
            background-color: white;
            box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.15);
        }

        .items__img {
            padding-top: 5px;;
            margin-bottom: 10px;;
            width: 100%;
            height: 70px;
            background-position: center;
        }
        .items__text {
            text-align: center;
            font-size: 1.4rem;
        }

        .items__link-bottom {
            border-top: none;
            .items__img {
                margin-top: 0px;
            }
        }
    }
}

.fs {
    .view--all {
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 1.3rem;
        color: $primary-c;
        margin-right: 30px;
        span {
            text-align: center;
            display: inline-block;
            $w-span: 16px;
            height: $w-span;
            width: $w-span;
            position: relative;
            top: 1px;
            border-radius: 50%;
            background-color: #e6320e;
            padding-top: 1px;
        }

    }
    &-list {
        &-items {
            width: 200px;
            height: 246px;
            border-top: 1px solid rgba(0, 0, 0, 0.07);
            position: relative;
            .items__link {
                text-align: center;
                color: $primary-c;
                font-size: 1.5rem;
                .items__img {
                    margin: 0px auto;
                    margin-top: 6px;
                    width: 170px;
                    height: 170px;
                }
                .items__price {
                    font-size: 2rem;
                    margin-bottom: 5px;
                    font-weight: 600;
                    span {
                        font-size: 1.6rem;
                    }
                }
                .items__progress {
                    text-align: center;
                    border-radius: 10px;
                    // border: 1px solid black;
                    // padding: 1px 0;
                    // height: 18px;
                    width: 160px;
                    margin: 0 auto;
                    p {
                        text-transform: uppercase;
                    }
                }
                .items__promotion {
                    $bg-color: rgba(255,212,36,.9);
                    width: 54px;
                    height: 50px;
                    background-color: $bg-color;
                    position: absolute;
                    top: -1px;
                    right: 0;
                    font-size: 1.7rem;
                    p {

                        margin-top: 6px;
                    }
                }
                .items__promotion::before {
                    position: absolute;
                    bottom: -5px;
                    right: 0;
                    content: "";
                    height: 0;
                    width: 0;
                    border-width: 0 27px 6px;
                    border-style: solid;
                    border-color: transparent rgba(255,212,36,.9);
                }
            }
        }
    }
    
}

.banner {
    &__img {
        height: 110px;
        width: 100%;
    }
}