$primary-c: #ee4d2d;

.fs {
    &-heading {
        font-size: 1.8rem;
    }
    &-category-list {
        margin-bottom: 20px;
        background-color: white;
        &-items {
            width: 20%;
            padding: 20px 5px;
            font-size: 2rem;
            // border: 1px solid black;
            position: relative;
            cursor: pointer;
            .active{
                content: "";
                width: 100%;
                height: 5px;
                background-color: $primary-c;
                position: absolute;
                bottom: 0;
                right: 0;
                // display: none;
            }
        }
        
        &-items:hover {
            color: $primary-c;
        }
    }
}