$primary-c: #ee4d2d; // c ~ color
$icon-w: 30px; // w ~ width
$rs: 3px; //border-radius: 3px;
$slider-btn-w: 8px;


a,
a:visited,
a:active {
    text-decoration: none;
    color: white;
}


.bold {
    font-weight: bold;
}
.seperator {
    border-right: 1px solid white !important;
}
.popover{
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 28px;
}

.popover::before{
    content: "";
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-bottom-color: white;
    position: absolute;
    top: -22px;
    right: 18px;
}


.m-header {
    overflow: hidden;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    margin: 0;
    span {
        text-align: center;
        font-weight: 200;
    }
    &-swapper {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 8px;
    }
    &__show-icon {
        color: white;
    }
    &__search-icon {
        display: inline-block;
        width: 20px;
        background-color: white;
        height: 30px;
        line-height: 30px;
        border-top-left-radius: $rs;
        border-bottom-left-radius: $rs;
        font-size: 1.2rem;
        text-align: right !important;
        margin-left: 4px;
        margin-right: -1px;
    }
    &__search-form {
        flex: 1;
        display: flex;
        input {
            outline: none;
            border: none;
            flex: 1;
            height: 30px;
            padding: 5px;
            border-top-right-radius: $rs;
            border-bottom-right-radius: $rs;
        }
    }
    &__cart {
        @extend .m-header__user;
        margin-left: 15px;
    }
    &__user {
        display: inline-block;
        width: $icon-w;
        color: white;
        font-size: 1.5rem;
    }
}

.pc-header {
    height: 120px;
    width: 100%;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    color: white;
    li {
        margin: 8px 0px;
        padding: 0px 8px;
    }
    &-top {
        display: flex;
        font-size: 1.6rem;
        justify-content: space-between;
        li a:hover {
            color: rgba(255, 255, 255, 0.5);
        }
        //top-right
        .top-right {
            display: flex;
            li {
                border-right: 2px solid #ffffff38;
            }
                    
            li:last-child {
                border: none;
            }
            .top-right-items {
              
                &-icon {

                }
            }
            
        }

        //top-left
        .top-left {
            display: flex;
            &-items {
                cursor: pointer;
            }
            &-items:hover {
                color: rgba(255, 255, 255, 0.5);
            }
            &__notification {
                position: relative;
                //notification off
                .notification__off {
                    cursor: text;
                    height: 350px;
                    width: 400px;
                    background-size: 30%;
                    background-repeat: no-repeat;
                    background-position: center 40px;
                    background-color: white;
                    color: black;
                    display: none;
                    p {
                        text-align: center;
                        margin-top: 165px;
                    }
                    &-register {
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                        display: flex;
                        background-color: #f5f5f5;
                        a {
                            cursor: pointer;
                            display: inline-block;
                            width: 200px;
                            padding: 10px 0px;
                            color: black;
                            border-radius: 2px;
                        }
                        a:hover {
                            color: $primary-c;
                            background-color: rgb(192, 189, 189);
                        }
                    }
                }
                //notification on
                .notification__on {

                    &-num {

                    }
                    &-tittle {

                    }
                    &-content {
                        .content-list {
                            &__link {

                            }
                            &__img {}
                            &__text {}
                        }

                    }
                    &-viewall {
                        display: block;
                        width: 100%;
                    }
                }
            }
        
        }
    }
    // header-mid
    &-mid {

    }
}

.header-slider {
    position: relative;
    // max-height: 170px;
    .side-bar {
        max-height: 170px;
        img {
            width: 100%;
            max-height: 80px;
        }
        img:first-child {
            margin-bottom: 6px;
        }
        display: none;
    }
    .slider-img-group {
        width: 100%;
        position: relative;
        min-height: 80px;
        max-height: 170px;
        overflow: hidden;
        .slider-img__list{
            width: 100%;
            height: auto;
            min-height: 110px;
            max-height: 170px;
            position: absolute;
            opacity: 0;
            top: 0;
            overflow: hidden;
        }
        .slider-img__list.now {
            animation: slideTransition-in 1s forwards;
        }
        .slider-img__list.losing {
            animation: slideTransition-out 1s forwards;
        }
    }
    .slider-control {
        position: absolute;
        top: 83%;
        right: 50%;
        transform: translateX(50%); 
        &__btn {
            z-index: 1;
            display: inline-block;
            height: $slider-btn-w;
            width: $slider-btn-w;
            border-radius: 50%;
            background-color: rgba(116, 116, 116,0.5);
            border: 1px solid rgb(107, 107, 107);
            margin: 5px; 
        }
        &__btn.active {
            background-color: $primary-c;
            border: none;
            height: $slider-btn-w + 1;
            width: $slider-btn-w + 1;
        }
        
    }
}

@keyframes slideTransition-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
        position: relative;
    }
    to {
        opacity: 1;
        transform: translateX(0);
        position: relative;
    }
}

@keyframes slideTransition-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {    
        visibility: hidden;
        transform: translateX(100%);
        
    }
}