$primary-c: #ee4d2d; // c ~ color
$icon-w: 30px; // w ~ width
$rs: 3px; //border-radius: 3px;
$slider-btn-w: 8px;


a,
a:visited,
a:active {
    text-decoration: none;
    color: white;
}


.bold {
    font-weight: bold;
}
.seperator {
    border-right: 1px solid white !important;
}
.popover{
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 28px;
}

.popover::before{
    content: "";
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-bottom-color: white;
    position: absolute;
    top: -22px;
    right: 18px;
}


.m-header {
    overflow: hidden;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    margin: 0;
    span {
        text-align: center;
        font-weight: 200;
    }
    &-swapper {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 8px;
    }
    &__show-icon {
        color: white;
    }
    &__search-icon {
        display: inline-block;
        width: 20px;
        background-color: white;
        height: 30px;
        line-height: 30px;
        border-top-left-radius: $rs;
        border-bottom-left-radius: $rs;
        font-size: 1.2rem;
        text-align: right !important;
        margin-left: 4px;
        margin-right: -1px;
    }
    &__search-form {
        flex: 1;
        display: flex;
        input {
            outline: none;
            border: none;
            flex: 1;
            height: 30px;
            padding: 5px;
            border-top-right-radius: $rs;
            border-bottom-right-radius: $rs;
        }
    }
    &__cart {
        @extend .m-header__user;
        margin-left: 15px;
    }
    &__user {
        display: inline-block;
        width: $icon-w;
        color: white;
        font-size: 1.5rem;
    }
}

.pc-header {
    height: 120px;
    width: 100%;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    color: white;
    margin-bottom: 15px;
    li {
        margin: 8px 0px;
        padding: 0px 8px;
    }
    a {
        display: inline-block;
        height: 100%;
        // padding-top: 8px;
        // padding-right: 8px;
    }
    &-top {
        display: flex;
        font-size: 1.6rem;
        justify-content: space-between;
        a:hover {
            color: rgba(255, 255, 255, 0.5);
        }
        //top-right
        .top-right {
            display: flex;
            li {
                border-right: 2px solid #ffffff38;
            }
                    
            li:last-child {
                border: none;
            }
            li:first-child {
                padding-left: 0;
            }
            &-items {
                &-icon {

                }
            }
            &__download {
                position: relative;
                .download__img-list {
                    position: absolute;
                    display: none;
                    height: auto;
                    width: 180px;
                    z-index: 1;
                    left: -34px;
                    top: 30px;
                    background-color: white;
                    .download-img__qr {
                        width: 180px;
                    }
                    .download__img-app {
                        display: flex;
                        a {
                            width: 50%;
                            margin-bottom: 5px;
                            img {
                                width: 100%;
                            }
                            .left {
                                padding-top: 2px;
                                padding-left: 12px;
                                padding-right: 2px;
                            }
                            .right {
                                padding-right: 12px;   
                                padding-left: 2px;                  
                            }
                            
                        }

                    }
                }
                .download__img-list::before {
                    position: absolute;
                    top: -20px;
                    right: 80px;
                    content: "";
                    height: 0;
                    width: 0;
                    border: 10px solid transparent;
                    border-bottom-color: white;
                }
            }
            &__download::after {
                content: "";
                position: absolute;
                top: 10px;
                right: 0;
                width: 100%;
                height: 30px;
                cursor: pointer;
            }
            &__download:hover .download__img-list{
                display: block;
            }

            
        }
        

        //top-left
        .top-left {
            display: flex;
            &-items {
                cursor: pointer;
            }
            &-items:hover {
                color: rgba(255, 255, 255, 0.5);
            }
            &-items:last-child {
                padding-right: 0px;
            }

            &__notification {
                position: relative;
                //notification off
                .notification__off {
                    cursor: text;
                    height: 350px;
                    width: 400px;
                    background-size: 30%;
                    background-repeat: no-repeat;
                    background-position: center 40px;
                    background-color: white;
                    color: black;
                    display: none;
                    p {
                        text-align: center;
                        margin-top: 165px;
                    }
                    &-register {
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                        display: flex;
                        background-color: #f5f5f5;
                        a {
                            cursor: pointer;
                            display: inline-block;
                            width: 200px;
                            padding: 10px 0px;
                            color: black;
                            border-radius: 2px;
                        }
                        a:hover {
                            color: $primary-c;
                            background-color: rgb(192, 189, 189);
                        }
                    }
                }
                //notification on
                .notification__on {
                    visibility: hidden;
                    background-color: white;
                    cursor: text;
                    color: black;
                    border-radius: 2px;
                    width: 400px;
                    box-shadow: -2px 0px 12px 3px hsla(0, 4%, 61%, 0.1);
                    &-num {
                        position: absolute;
                        display: inline-block;
                        background-color: white;
                        padding: 0px 3px;
                        border-radius: 45%;
                        top: -36px;
                        right: 68px;
                        visibility: visible;
                        text-align: center;
                    }
                    &-title {
                        padding: 8px;
                        color: rgb(202, 199, 199);
                        font-size: 1.7rem;;
                    }
                    &-content {                        
                        .content-list {
                            padding: 4px 8px;
                            &__link {
                                display: flex;
                            }
                            &__img {
                                width: 10%;
                                height: 10%;
                                padding-top: 3px;
                            }
                            &__text {
                                padding: 0px 10px;
                                width: 90%;
                                color: black;
                                text-align: justify;
                            }
                        }
                        .content-list:hover {
                            background-color: rgba(209, 208, 208, 0.3);
                        }
                    }
                    &-viewall {
                        display: block;
                        padding: 8px 0px;
                        font-size: 1.7rem;
                        width: 100%;
                        color: black;
                        text-align: center;
                        background-color: rgba(209, 208, 208, 0.1);
                    }
                    &-viewall:hover {
                        background-color: rgba(209, 208, 208, 0.3);
                    }
                }
            }
            &__notification:hover .notification__on-num {
                display: none !important;
            }
            &__notification::after {
                content: "";
                width: 86px;
                height: 15px;
                position: absolute;
                bottom: -15px;
                right: 8px;
            }
            &__notification:hover .notification__on {
                visibility: visible;
            }
        
        }
    }
    // header-mid
    &-mid {

    }
}

.header-slider {
    position: relative;
    // max-height: 170px;
    .side-bar {
        max-height: 170px;
        img {
            width: 100%;
            max-height: 80px;
        }
        img:first-child {
            margin-bottom: 6px;
        }
        display: none;
    }
    .slider-img-group {
        width: 100%;
        position: relative;
        min-height: 80px;
        max-height: 170px;
        overflow: hidden;
        .slider-img__list{
            width: 100%;
            height: auto;
            min-height: 110px;
            max-height: 170px;
            position: absolute;
            opacity: 0;
            top: 0;
            overflow: hidden;
        }
        .slider-img__list.now {
            animation: slideTransition-in 1s forwards;
        }
        .slider-img__list.losing {
            animation: slideTransition-out 1s forwards;
        }
    }
    .slider-control {
        position: absolute;
        top: 83%;
        right: 50%;
        transform: translateX(50%); 
        &__btn {
            z-index: 1;
            display: inline-block;
            height: $slider-btn-w;
            width: $slider-btn-w;
            border-radius: 50%;
            background-color: rgba(116, 116, 116,0.5);
            border: 1px solid rgb(107, 107, 107);
            margin: 5px; 
        }
        &__btn.active {
            background-color: $primary-c;
            border: none;
            height: $slider-btn-w + 1;
            width: $slider-btn-w + 1;
        }
        
    }
}

@keyframes slideTransition-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
        position: relative;
    }
    to {
        opacity: 1;
        transform: translateX(0);
        position: relative;
    }
}

@keyframes slideTransition-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {    
        visibility: hidden;
        transform: translateX(100%);
        
    }
}