/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .n-m-hide { 
        display: none;
    }
    
    /* n-m ~ Not mobile -> hide */
}
/* Tablet & mobile  */
@media (max-width: 1023px) {
    
}

/* PC */

@media (min-width: 1024px) {
    .n-m-hide {
        display: none;
   }
   .header-slider .side-bar {
       display: block;
   }
   /* n-m ~ Not mobile -> hide */
}