@import 'base.scss';
@import 'header.scss';
@import 'category.scss';
@import 'fs.scss';
@import 'prd.scss';


@import 'detail.scss';
@import 'login.scss';
@import 'cart.scss';
@import 'user.scss';
@import 'footer.scss';
@import 'footer.scss';