* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

html {
  font-size: 62.5%;
  color: black;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-top: 0px;
}

.flex {
  display: flex;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

.small-number, .pc-header-top .top-left__notification .notification__on-num, .pc-header-mid .mid-cart__num {
  position: absolute;
  display: inline-block;
  background-color: white;
  padding: 0px 3px;
  border-radius: 45%;
  text-align: center;
  color: #ee4d2d;
  font-size: 1.2rem;
  font-weight: 700;
}

.bold {
  font-weight: bold;
}

.seperator {
  border-right: 1px solid white !important;
}

.popover {
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  right: 8px;
  top: 28px;
}

.popover--border {
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.popover::before {
  content: "";
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-bottom-color: white;
  position: absolute;
  top: -22px;
  right: 18px;
}

.m-header {
  overflow: hidden;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  margin: 0;
}
.m-header span {
  text-align: center;
  font-weight: 200;
}
.m-header-swapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 8px;
}
.m-header__show-icon {
  color: white;
}
.m-header__search-icon {
  display: inline-block;
  width: 20px;
  background-color: white;
  height: 30px;
  line-height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 1.2rem;
  text-align: right !important;
  margin-left: 4px;
  margin-right: -1px;
}
.m-header__search-form {
  flex: 1;
  display: flex;
}
.m-header__search-form input {
  outline: none;
  border: none;
  flex: 1;
  height: 30px;
  padding: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.m-header__cart {
  margin-left: 15px;
}
.m-header__user, .m-header__cart {
  display: inline-block;
  width: 30px;
  color: white;
  font-size: 1.5rem;
}

.pc-header {
  height: 120px;
  width: 100%;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  color: white;
  margin-bottom: 15px;
}
.pc-header li {
  margin: 8px 0px;
  padding: 0px 8px;
}
.pc-header a {
  display: inline-block;
  height: 100%;
}
.pc-header-top {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  margin-bottom: 15px;
}
.pc-header-top a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.pc-header-top .top-right {
  display: flex;
}
.pc-header-top .top-right li {
  border-right: 2px solid #ffffff38;
}
.pc-header-top .top-right li:last-child {
  border: none;
}
.pc-header-top .top-right li:first-child {
  padding-left: 0;
}
.pc-header-top .top-right-items-icon {
  padding-right: 2.5px;
  padding-left: 5px;
}
.pc-header-top .top-right__download {
  position: relative;
}
.pc-header-top .top-right__download .download__img-list {
  position: absolute;
  display: none;
  height: auto;
  width: 180px;
  z-index: 1;
  left: -34px;
  top: 30px;
  background-color: white;
}
.pc-header-top .top-right__download .download__img-list .download-img__qr {
  width: 180px;
}
.pc-header-top .top-right__download .download__img-list .download__img-app {
  display: flex;
}
.pc-header-top .top-right__download .download__img-list .download__img-app a {
  width: 50%;
  margin-bottom: 5px;
}
.pc-header-top .top-right__download .download__img-list .download__img-app a img {
  width: 100%;
}
.pc-header-top .top-right__download .download__img-list .download__img-app a .left {
  padding-top: 2px;
  padding-left: 12px;
  padding-right: 2px;
}
.pc-header-top .top-right__download .download__img-list .download__img-app a .right {
  padding-right: 12px;
  padding-left: 2px;
}
.pc-header-top .top-right__download .download__img-list::before {
  position: absolute;
  top: -20px;
  right: 80px;
  content: "";
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: white;
}
.pc-header-top .top-right__download::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
.pc-header-top .top-right__download:hover .download__img-list {
  display: block;
}
.pc-header-top .top-left {
  display: flex;
}
.pc-header-top .top-left-items {
  cursor: pointer;
}
.pc-header-top .top-left-items:hover {
  color: rgba(255, 255, 255, 0.5);
}
.pc-header-top .top-left-items:last-child {
  padding-right: 0px;
}
.pc-header-top .top-left__notification {
  position: relative;
}
.pc-header-top .top-left__notification .notification__off {
  cursor: text;
  height: 350px;
  width: 400px;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center 40px;
  background-color: white;
  color: black;
  display: none;
}
.pc-header-top .top-left__notification .notification__off p {
  text-align: center;
  margin-top: 165px;
}
.pc-header-top .top-left__notification .notification__off-register {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: flex;
  background-color: #f5f5f5;
}
.pc-header-top .top-left__notification .notification__off-register a {
  cursor: pointer;
  display: inline-block;
  width: 200px;
  padding: 10px 0px;
  color: black;
  border-radius: 2px;
}
.pc-header-top .top-left__notification .notification__off-register a:hover {
  color: #ee4d2d;
  background-color: #c0bdbd;
}
.pc-header-top .top-left__notification .notification__on {
  visibility: hidden;
  background-color: white;
  cursor: text;
  color: black;
  width: 400px;
  box-shadow: -2px 0px 12px 3px rgba(160, 152, 152, 0.1);
}
.pc-header-top .top-left__notification .notification__on-num {
  top: -32px;
  right: 70px;
  visibility: visible;
}
.pc-header-top .top-left__notification .notification__on-title {
  padding: 8px;
  color: #cac7c7;
  font-size: 1.7rem;
}
.pc-header-top .top-left__notification .notification__on-content .content-list {
  padding: 4px 8px;
}
.pc-header-top .top-left__notification .notification__on-content .content-list__link {
  display: flex;
}
.pc-header-top .top-left__notification .notification__on-content .content-list__img {
  width: 10%;
  height: 10%;
  padding-top: 3px;
}
.pc-header-top .top-left__notification .notification__on-content .content-list__text {
  padding: 0px 10px;
  width: 90%;
  color: black;
  text-align: justify;
}
.pc-header-top .top-left__notification .notification__on-content .content-list:hover {
  background-color: rgba(209, 208, 208, 0.3);
}
.pc-header-top .top-left__notification .notification__on-viewall {
  display: block;
  padding: 8px 0px;
  font-size: 1.7rem;
  width: 100%;
  color: black;
  text-align: center;
  background-color: rgba(209, 208, 208, 0.1);
}
.pc-header-top .top-left__notification .notification__on-viewall:hover {
  background-color: rgba(209, 208, 208, 0.3);
}
.pc-header-top .top-left__notification:hover .notification__on-num {
  display: none !important;
}
.pc-header-top .top-left__notification::after {
  content: "";
  width: 86px;
  height: 15px;
  position: absolute;
  bottom: -15px;
  right: 8px;
}
.pc-header-top .top-left__notification:hover .notification__on {
  visibility: visible;
}
.pc-header-mid {
  position: relative;
  display: flex;
}
.pc-header-mid__logo {
  width: 200px;
  margin-right: 15px;
}
.pc-header-mid .mid-search-box {
  height: 40px;
  background-color: white;
  flex: 1;
  border-radius: 2px;
  margin-right: 10px;
}
.pc-header-mid .mid-search-box__search-bar form {
  display: flex;
}
.pc-header-mid .mid-search-box__search-bar input {
  height: 40px;
  flex: 1;
  outline: none;
  padding: 2px 8px;
  border: none;
}
.pc-header-mid .mid-search-box__search-bar-btn {
  cursor: pointer;
  height: 34px;
  width: 50px;
  margin: 3px;
  background-color: #ee4d2d;
  border-radius: 2px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 34px;
}
.pc-header-mid .mid-search-box__suggest .suggest-list .suggest-items {
  margin-top: 4px;
  padding-left: 0;
  margin-right: 15px;
  display: inline-block;
  font-size: 1.4rem;
}
.pc-header-mid .mid-cart {
  position: relative;
  display: block;
  height: 50px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
.pc-header-mid .mid-cart .mid-cart__icon {
  line-height: 60px;
  font-size: 3rem;
}
.pc-header-mid .mid-cart__num {
  right: 15px;
  top: 6px;
}
.pc-header-mid .mid-cart__detail {
  position: absolute;
  top: 50px;
  right: 3px;
  width: 410px;
  height: 400px;
  background-color: white;
}
.pc-header-mid .mid-cart__detail-list img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.pc-header-mid .mid-cart__detail-list-items {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.pc-header-mid .mid-cart__detail-list-items .detail-prd {
  flex: 1;
  color: black;
}
.pc-header-mid .mid-cart__detail-list-items .detail-prd .flex-items {
  display: flex;
  justify-content: space-between;
}
.pc-header-mid .mid-cart__detail-list-items .detail-prd .flex-items .right {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.pc-header-mid .mid-cart__detail-list-items .detail-prd .flex-items .left {
  margin-left: 30px;
  color: #ee4d2d;
}
.pc-header-mid .mid-cart__detail-list-items .detail-prd .flex-bottom {
  margin-top: 6px;
}
.pc-header-mid .mid-cart__detail-list-items .detail-prd .flex-bottom .left {
  margin-right: 10px;
  color: black;
}
.pc-header-mid .mid-cart__detail-list-items .detail-prd .flex-bottom .left:hover {
  color: #ee4d2d;
  cursor: pointer;
}

.header-slider {
  position: relative;
}
.header-slider .side-bar {
  max-height: 170px;
  display: none;
}
.header-slider .side-bar img {
  width: 100%;
  max-height: 80px;
}
.header-slider .side-bar img:first-child {
  margin-bottom: 6px;
}
.header-slider .slider-img-group {
  width: 100%;
  position: relative;
  min-height: 80px;
  max-height: 170px;
  overflow: hidden;
}
.header-slider .slider-img-group .slider-img__list {
  width: 100%;
  height: auto;
  min-height: 110px;
  max-height: 170px;
  position: absolute;
  opacity: 0;
  top: 0;
  overflow: hidden;
}
.header-slider .slider-img-group .slider-img__list.now {
  animation: slideTransition-in 1s forwards;
}
.header-slider .slider-img-group .slider-img__list.losing {
  animation: slideTransition-out 1s forwards;
}
.header-slider .slider-control {
  position: absolute;
  top: 83%;
  right: 50%;
  transform: translateX(50%);
}
.header-slider .slider-control__btn {
  z-index: 1;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgba(116, 116, 116, 0.5);
  border: 1px solid #6b6b6b;
  margin: 5px;
}
.header-slider .slider-control__btn.active {
  background-color: #ee4d2d;
  border: none;
  height: 9px;
  width: 9px;
}

@keyframes slideTransition-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
    position: relative;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    position: relative;
  }
}
@keyframes slideTransition-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    visibility: hidden;
    transform: translateX(100%);
  }
}
