* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-top: 0px;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

.bold {
  font-weight: bold;
}

.seperator {
  height: 10px;
  width: 2px;
  background-color: white;
}

.m-header {
  overflow: hidden;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  margin: 0;
}
.m-header span {
  text-align: center;
  font-weight: 200;
}
.m-header-swapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 8px;
}
.m-header__show-icon {
  color: white;
}
.m-header__search-icon {
  display: inline-block;
  width: 20px;
  background-color: white;
  height: 30px;
  line-height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 1.2rem;
  text-align: right !important;
  margin-left: 4px;
  margin-right: -1px;
}
.m-header__search-form {
  flex: 1;
  display: flex;
}
.m-header__search-form input {
  outline: none;
  border: none;
  flex: 1;
  height: 30px;
  padding: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.m-header__cart {
  margin-left: 15px;
}
.m-header__user, .m-header__cart {
  display: inline-block;
  width: 30px;
  color: white;
  font-size: 1.5rem;
}

.pc-header {
  height: 120px;
  width: 100%;
  background: linear-gradient(-180deg, #f53d2d, #f63);
}
.pc-header li {
  margin: 8px 0px;
  padding: 0px 8px;
}
.pc-header-top {
  display: flex;
  font-size: 1.6rem;
}
.pc-header-top .top-right {
  display: flex;
  margin-right: auto;
}
.pc-header-top .top-right li {
  border-right: 2px solid #ffffff38;
}
.pc-header-top .top-right li:last-child {
  border: none;
}
.pc-header-top .top-left {
  display: flex;
}

.header-slider {
  position: relative;
}
.header-slider .side-bar {
  max-height: 170px;
  display: none;
}
.header-slider .side-bar img {
  width: 100%;
  max-height: 80px;
}
.header-slider .side-bar img:first-child {
  margin-bottom: 6px;
}
.header-slider .slider-img-group {
  width: 100%;
  position: relative;
  min-height: 80px;
  max-height: 170px;
  overflow: hidden;
}
.header-slider .slider-img-group .slider-img__list {
  width: 100%;
  height: auto;
  min-height: 110px;
  max-height: 170px;
  position: absolute;
  opacity: 0;
  top: 0;
  overflow: hidden;
}
.header-slider .slider-img-group .slider-img__list.now {
  animation: slideTransition-in 1s forwards;
}
.header-slider .slider-img-group .slider-img__list.losing {
  animation: slideTransition-out 1s forwards;
}
.header-slider .slider-control {
  position: absolute;
  top: 83%;
  right: 50%;
  transform: translateX(50%);
}
.header-slider .slider-control__btn {
  z-index: 1;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgba(116, 116, 116, 0.5);
  border: 1px solid #6b6b6b;
  margin: 5px;
}
.header-slider .slider-control__btn.active {
  background-color: #ee4d2d;
  border: none;
  height: 9px;
  width: 9px;
}

@keyframes slideTransition-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
    position: relative;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    position: relative;
  }
}
@keyframes slideTransition-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    visibility: hidden;
    transform: translateX(100%);
  }
}
