$t-primary: #ee4d2d;
.user {
    &-avatar {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        padding: 10px 0;
        &__name {
            font-size: 1.8rem;
            margin-left: 8px;
            -webkit-line-clamp: 1 !important;
        }
    }

    &-edit {
        margin-top: 20px;
        &-list {
            margin: 15px;
            font-size: 1.8rem;
            cursor: pointer;
        }
        &-list:hover {
            color: $t-primary;
        }
    }

    .my-product {
        width: 100%;
        font-size: 1.6rem;
        .nav-list {
            margin-bottom: 10px;
            &-items {
                padding: 20px;
                width: 20%;
                font-size: 1.8rem;
                cursor: pointer;
                position: relative;
            }
            &-items::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 4px;
                width: 100%;
                background-color: $t-primary;
                display: none;
                }
            &-items:hover {
                color: $t-primary;
            }
        }
        .prd__price {
            width: 15%;
        }
        .prd__total-money {
            span {
                font-size: 3rem;
            }
        }

        .prd__more-infor {
            margin-bottom: 10px;
            .status {
                flex: 1;
            }

            .btn {
                border: 1px solid rgba($color: #000000, $alpha: 0.6);
                border-radius: 2px;
                margin: 5px;
                font-size: 1.8rem;
                padding: 10px 40px;
            }
            .btn:not(:first-child):hover {
                color: $t-primary !important;
                border-color: $t-primary;
            }

            .btn:first-child:hover {
                background-color: #f0735a;
            }
        }
    }
}